<div style="width: 120px;" class="ui left blue visible vertical inverted sidebar labeled icon menu">
  <a class="item" href="/admin/addFinances">
    <i class="dollar sign icon"></i>
    Add Expenses
  </a>
  <a class="item" href="/admin/viewFinances">
    <i class="chart line icon"></i>
    View Finances
  </a>
  <a class="item" href="/admin/addUser">
    <i class="user plus icon"></i>
    Add User
  </a>
  <a class="item" href="/admin/medicines/new">
    <i class="plus icon"></i>
    Add Medicine
  </a>
  <a class="item" href="/admin/medicines/manage">
    <i class="first aid icon"></i>
    Manage Medicines
  </a>
  <a class="item" href="/pharmacists/medicines">
    <i class="chart bar icon"></i>
    Medicine Inventory
  </a>
  <a class="item" href="/pharmacists/salesInfo">
    <i class="chart line icon"></i>
    Medicine Sales  
  </a>
  <a class="item" href="/receptionist/doctors">
    <i class="eye icon"></i>
    View Doctors
  </a>
  <a class="item" href="/receptionist/doctorShares">
    <i class="dollar sign icon"></i>
    Doctor Shares
  </a>
</div>