<% include ../partials/header %>
<div class="ui container center aligned" style = "margin:10px;">
    <h1 class="ui massive very padded blue header" style="margin: 10px;"> Dashboard </h1>
    <div class = "ui section divider"></div>
    <div class="ui raised blue segment">
        <div class="ui animated very padded relaxed divided list">

            <div class="ui large blue header" style="font-size: 2.5em;"> Select an action:</div>


            <div class="item">
                <p>
                    <a href="/admin/addFinances"> <button class="ui inverted massive blue button" style="width: 15em;">
                        Add Expenses
                        </button>
                    </a>
                </p>
            </div>

            <div class="item">
                <p>
                    <a href="/admin/viewFinances"> <button class="ui inverted massive blue button" style="width: 15em;">
                        View Finances
                        </button>
                    </a>
                </p>
            </div>

            <div class="item">
                <p>
                    <a href="/admin/addUser"> <button class="ui inverted massive blue button" style="width: 15em;">
                        Add User
                        </button>
                    </a>
                </p>
            </div>

            <div class="item">
                <p>
                    <a href="/admin/medicines/new"> <button class="ui inverted massive blue button" style="width: 15em;">
                        Add Medicine
                        </button>
                    </a>
                </p>
            </div>

            <div class="item">
                <p>
                    <a href="/admin/medicines/manage">
                        <button class="ui inverted massive blue button" style="width: 15em;">
                            Manage Medicines
                        </button>
                    </a>
                </p>
            </div>
            
        </div>
               
    </div>
</div>
<% include ../partials/footer %>


