<% include ../partials/header %>
<% include ./adminSideBar%>
    <div class="ui  center aligned container" style="margin:10px 0px;">

        <h1 class="ui massive blue header very padded">Add Medicine </h1>
        <div class="ui divider"></div>
        <div id = "messageArea">
        </div>
        <div class="left aligned ui blue raised segment" style="width:60%; margin: auto;">
            <form method = "POST" action = "/admin/medicines">
                <div class="ui form">


                    <div class="ui grid" style="margin:auto;">

                        <div class="row" style="margin-top: 0; margin-bottom: 0;">
                            <div class="four wide column">
                                <label class="ui  blue medium header" for="medicineName">Name:</label>
                            </div>

                            <div class="ui input eight wide column">
                                <input name = "name" type="text" id="medicineName" required>
                            </div>
                        </div>


                        <div class="row" style="margin-top: 0; margin-bottom: 0;">
                            <div class="four wide column">
                                <label class="ui  blue medium header" for="medicineQuantity">Quantity:</label>
                            </div>

                            <div class="eight wide column">
                                <input name = "quantity" type="number" id="medicineQuantity" required>
                            </div>

                        </div>

                        <div class="row" style="margin-top: 0; margin-bottom: 0;">
                            <div class="four wide column">
                                <label class="ui  blue medium header" for="costPrice">Cost Price:</label>
                            </div>

                            <div class="ui input eight wide column">
                                <input name = "costPrice" type="number" id="costPrice" required>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 0; margin-bottom: 0;">
                            <div class="four wide column">
                                <label class="ui  blue medium header" for="salePrice">Sale Price:</label>
                            </div>

                            <div class="ui input eight wide column">
                                <input name = "salePrice" type="number" id="salePrice" required>
                            </div>
                        </div>



                        <div class="ui center aligned  container">
                            <button style="margin-top: 20px;" id = "submitButton" type="button" class="ui  compact  blue inverted massive button column center aligned ">
                                Add

                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>

        function displayMessage(type, msg){
            if (type === "success"){
                var messageArea = document.getElementById("messageArea");
                messageArea.innerHTML = '<div class="ui success message"><div class="header">' + msg + '</div></div>';
                setTimeout(function(){messageArea.innerHTML = ""}, 2000);
            }

            else if (type === "error"){
                var messageArea = document.getElementById("messageArea");
                messageArea.innerHTML = '<div class="ui negative message"><div class="header">' + msg + '</div></div>';
                setTimeout(function(){messageArea.innerHTML = ""}, 2000);
            }
        }

        function handleSend(e){
            e.preventDefault();

            var name = document.getElementById("medicineName").value;
            var quantity = document.getElementById("medicineQuantity").value
            var costPrice = document.getElementById("costPrice").value
            var salePrice = document.getElementById("salePrice").value

            if (parseInt(costPrice) > parseInt(salePrice)){
                displayMessage("error", "Sale price must be greater than cost price.");
                return;
            }

            // TODO: validate inputs

            if (name == ""){displayMessage("error", "Please enter a name"); return;}

            if (quantity == ""){displayMessage("error", "Please enter quantity"); return;}

            if (costPrice == ""){displayMessage("error", "Please enter cost"); return;}

            if (salePrice == ""){displayMessage("error", "Please enter cost"); return;}


            var data = {
                name: name,
                quantity: quantity,
                costPrice: costPrice,
                salePrice: salePrice
            }
            $.ajax({
                type:"POST",
                url: "/admin/medicines",
                data: data,
                success: function(response){
                    console.log(response);
                    if (response === "-1"){
                        displayMessage("error", "There is already a medicine with this name in the database.");
                    }
                    else if (response === "-2"){
                        displayMessage("error", "Error adding medicine in database.")
                    }
                    else {
                        // Success
                        displayMessage("success", "Medicine successfully added.");

                        $("#medicineName").val("");
                        $("#medicineQuantity").val("");
                        $("#costPrice").val("");
                        $("#salePrice").val("");
                    }

                    
                },

                error: function(){
                    displayMessage("error", "Error communicating with server.")
                }
            });
        }

        $(document).ready(function(){
            $("#submitButton").click(handleSend);
        });
    </script>

    <% include ../partials/footer %>