
<!DOCTYPE html>
<html>
<head>
    <title>Jinnah Medical Complex</title>
    <link rel="stylesheet" type="text/css" href="/HMS.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js">
    </script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body id = "body01" class="body02">
<nav id="nav" class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <% if (!currentUser) {%>
            <a class="navbar-brand" href="/"> <i class = "ui red loading medkit icon"></i> Jinnah Medical Complex</a>
            <% } else { %>
            <a style= "padding-left: 60px;"class="navbar-brand" href="/dashboard"><i class = "ui red loading medkit icon"></i>Jinnah Medical Complex</a>
            <% } %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li style="position:relative; left:6em;" id ="login_and_logout_buttons">
                        <% if (!currentUser) { %>
                        <form action="/login" method="GET">
                            <button type="submit" class="ui large green icon button"><i class="sign in icon"></i>Log in</button>
                        </form>
                        <% } else { %>
                        <form action="/logout" method="GET">
                            <button type="submit" class="ui large red icon button"><i class="sign out icon"></i>Log out</button>
                        </form>
                        <% } %>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

