<h2> Sign up </h2>

<form action = "/register" method = "POST">
	<input type="text" placeholder = "email" name = "email">
	<input type="password" placeholder="password" name="password">
	<input name = "userType" value = "Patient" style = "display:none">
	<button>Submit</button>
</form>