<% include ../partials/header %>

	<div class="ui center aligned container" style="margin-top:100px;">


		<h1 class="ui massive blue header very padded">Reset Password</h1>


		<div class="ui  divider " id="divider"></div>
		<div class="left aligned ui green raised segment" id="segment">
			<form method = "POST" action = "/users/changepassword/<%=currentUser.userID%>">
				<div class="ui form">
					<div class="ui grid" style="margin:auto;">


						<div class="row">
							<div class="column">
								<label for="password" class="label">Current Password:</label>
							</div>

							<div class="eight wide centered  column">
								<input name="current" id="password" type="password" name="email" placeholder="Enter You Current Password">
							</div>

						</div>

						<div class="row">
							<div class="column">
								<label for="password" class="label">New Password:</label>
							</div>

							<div class="eight wide centered column">
								<input name="new" id="password" type="password" name="password" placeholder="Enter Your Password">
							</div>
						</div>


						<div class="row">
							<div class="ui center aligned container">
								<button class="ui  compact  blue inverted massive button center aligned ">
							                            		 Submit

							                      			</button>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>



	<% include ../partials/footer %>