<% include ../partials/header %>
<div class="ui center aligned container">
    <h3 class = "ui blue block header"> You have already requested an appointment. <a href = "/dashboard">Click here</a> to return </h3>
</div>
<% include ../partials/footer %>