<form ref='uploadForm' 
      id='uploadForm' 
      action="/patients/documents" 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
</form>     