<div style="width:100px;" class="ui left blue visible vertical inverted sidebar labeled icon menu">
  <a class="item" href="/pharmacists/medicines">
    <i class="chart bar icon"></i>
    Inventory
  </a>
  <a class="item" href="/pharmacists/dispatch">
    <i class="dollar sign icon"></i>
    Sale
  </a>
  <a class="item" href="/pharmacists/salesInfo">
    <i class="chart line icon"></i>
    Sales Info
  </a>
</div>