<% include ../partials/header %>
<div class="ui container center aligned" style = "margin:10px;">
    <h1 class="ui massive  blue header" style="margin: 10px;"> Dashboard </h1>
    <div class = "ui section divider"></div>
    <div class="ui raised blue segment">
        <div class="ui animated relaxed divided list">

            <div class="ui large blue header" style="font-size: 2.5em;"> Select an action:</div>


            <div class="item">
                <p>
                    <a href="/pharmacists/medicines"> <button class="ui inverted massive blue button" style="width: 15em;">
                        Inventory
                        </button>
                    </a>
                </p>
            </div>

            <div class="item">
                <p>
                    <a href="/pharmacists/dispatch"> <button class="ui inverted massive blue button" style="width: 15em;">
                        Sale
                        </button>
                    </a>
                </p>
            </div>

            <div class="item">
                <p>
                    <a href="/pharmacists/salesInfo"> <button class="ui inverted massive blue button" style="width: 15em;">
                        Sales Info
                        </button>
                    </a>
                </p>
            </div>



            
        </div>
               
    </div>
</div>
<% include ../partials/footer %>














<!-- <h1>Pharmacist</h1>

<h4><%= user.firstName + " " + user.lastName %></h4>


<a href="/pharmacists/prescriptions">View Prescriptions</a>
<a href="/pharmacists/medicines">View Medicines</a>
<a href="/pharmacists/medicines/new">Add Drug</a>
 -->