<% include ../partials/header %>
<% include ./receptionistSideBar %>
	<div class="ui  center aligned container" style="margin:10px 0px;">

		<h1 class="ui massive blue header very padded">Add Doctor </h1>

		<div class="ui divider"></div>
		<div id = "messageArea"></div>


		<div class="left aligned ui blue raised segment" style="width:60%; margin: auto;">

			<form method = "POST" action = "/receptionist/users/newPatient" id = "patientForm">
				<div class="ui form">
					<div class="ui grid" style="margin: auto;">


						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="firstname" class="ui blue medium header">
									First Name:
								</label>
							</div>

							<div class="ui input eight wide column">

								<input required name="firstName" type="text" id="firstname">
							</div>

						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="lastName" class="ui blue medium header">
												 		Last Name:
												 	</label>
							</div>

							<div class="ui input eight wide column">

								<input required name="lastName" type="text" id="lastname">
							</div>

						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="uifour wide column">
								<label for="cnic" class="ui blue medium header">
												 		CNIC:
								</label>
							</div>

							<div class="ui input eight wide column">

								<input name="cnic" type="text" id="cnic">
							</div>

						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="phone" class="ui blue medium header">
												 		Phone:
								</label>
							</div>

							<div class="ui input eight wide column">

								<input required name="phone" type="text" id="phone">
							</div>

						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="gender" class="ui blue medium header">
													   	    	Gender:    

													   	    </label>
							</div>


							<div class="eight wide column">
								<select required name="gender" id="gender" placeholder="Gender">
			                       <option value = "M">M</option>
			                       <option value = "F">F</option>
			                    </select>

							</div>

						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">

								<label for="enter_Date" class="ui blue medium header" id="date1">Date of Birth:</label>

							</div>

							<div class="ui input eight wide column">
								<input required name="birthDate" type="date" id="enter_Date" placeholder="Date">
							</div>
						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="address" class="ui blue medium header">
									Address
								</label>
							</div>

							<div class="ui input eight wide column">

								<input name="address" type="text" id="address">
							</div>

						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="fee" class="ui blue medium header">
									Fee
								</label>
							</div>

							<div class="ui input eight wide column">

								<input name="fee" type="number" id="fee">
							</div>
						</div>

						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="share" class="ui blue medium header">
									Share %
								</label>
							</div>

							<div class="ui input eight wide column">

								<input name="share" type="number" id="share">
							</div>

						</div>


						<div class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="labShare" class="ui blue medium header">
									Lab Share %:
								</label>
							</div>

							<div class="ui input eight wide column">

								<input name="labShare" type="number" id="labShare">
							</div>

						</div>

						<div id = "spec-parent" class="row" style="margin-bottom: 0; margin-top: 0;">
							<div class="four wide column">
								<label for="specialization" class="ui blue medium header">
									Specialization:    
						   	    </label>
							</div>


							<div id = "spec-select" class="eight wide column">
								<select onchange=onSelect() required name="specialization" id="specialization" placeholder="Specialization">  
			                    </select>
							</div>

						</div>


						<div class="ui center aligned	 container" style="margin-bottom: 30px">
							<button style="margin-top: 20px;" type = "button" class="ui  compact  blue inverted massive button column center aligned" id = "submitButton">
				            Add
				            </button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script>

		function onSelect(){
			var specialization = document.getElementById('specialization').value;
			if (specialization === "other"){
				// replace specialization select with input box
				var elem = document.getElementById('spec-select');
				elem.parentNode.removeChild(elem);

				var parent = document.getElementById('spec-parent');
				parent.innerHTML += '<div id = "spec-select" class="eight wide column"><input type = "text" id = "specialization" name = "specialization" placeholder = "Specialization"></div>'

			}
		}

	    function displayMessage(type, msg){
    		if (type === "success"){
    			var messageArea = document.getElementById("messageArea");
                messageArea.innerHTML = '<div class="ui success message"><div class="header">' + msg + '</div></div>';
                setTimeout(function(){messageArea.innerHTML = ""}, 2000);
    		}

    		else if (type === "error"){
    			var messageArea = document.getElementById("messageArea");
                messageArea.innerHTML = '<div class="ui negative message"><div class="header">' + msg + '</div></div>';
                setTimeout(function(){messageArea.innerHTML = ""}, 2000);
    		}
    	}

    	function missingFieldMessage(field){
    		displayMessage("error", "Please enter a value for " + field);
    	}

		async function handleSend(e){
			e.preventDefault();
			// send post request
			console.log("button clicked")
			var firstname = document.getElementById("firstname").value
			var lastname = document.getElementById("lastname").value
			var cnic = document.getElementById("cnic").value
			var phone = document.getElementById("phone").value
			var gender = document.getElementById("gender").value
			var dob = document.getElementById("enter_Date").value
			var address = document.getElementById("address").value
			var fee = document.getElementById("fee").value
			var share = document.getElementById("share").value
			var labShare = document.getElementById("labShare").value
			var specialization = document.getElementById("specialization").value 

			var mandatory = {"First Name": firstname, "Last Name": lastname, "CNIC":cnic, "Phone":phone, "Gender":gender,"Fee":fee, "Share":share, "Specialization":specialization};

			for(var key in mandatory){
				if(mandatory[key] == ""){
					missingFieldMessage(key);
					return;
				}
			}

			if ((share < 0) || (share > 100)){
				displayMessage("error", "Share must be between 0 and 100.");
				return;
			}


			var data = {
				firstname: firstname,
				lastname: lastname,
				cnic: cnic,
				phone: phone,
				gender: gender,
				fee: fee,
				share: share,
				labShare: labShare,
				specialization: specialization
			};

			if (dob){
				data.dob = dob;
			}
			if (address){
				data.address = address;
			}

			console.log(data);

			$.ajax({
			type:"POST",
			url: "/receptionist/users/newDoctor",
			data: data,
			success: function(response){
				if (response === "-1"){
					displayMessage("error", "Error adding doctor to database.");
				}
				else {
					displayMessage("success", "Successfully added doctor to database.");

					$("#firstname").val("");
                    $("#lastname").val("");
                    $("#cnic").val("");
                    $("#phone").val("");
                    $("#address").val("");
                    $("#enter_Date").val("");
                    $("#specialization").val("");
                    $("#fee").val("");
                    $("#labShare").val("")
                    $("#share").val("");
                    $("#gender").val("");

				}
			},
			error: function(){
				displayMessage("error", "Error in communicating with server.");
			}
			})
		}

		$(document).ready(function(){
		$("#submitButton").click(handleSend)


		$.ajax({
			type:"GET",
			url: "/receptionist/specializations",
			success: function(response){
				
				var specialization = document.getElementById('specialization');
				var inner = "";
				response.forEach((data)=>{
					inner += '<option value ="' + data.specialization + '">' + data.specialization +'</option>'
				})
				inner += '<option value = "other"> Other </option>'
				specialization.innerHTML = inner;
			},
			error: function(){
				displayMessage("error", "Error in communicating with server.");
			}
			})

			
		})
	</script>

<% include ../partials/footer %>