<% include ../partials/header %>
<div class="ui center aligned container">
    <h1 class="ui massive very padded blue block header" style="margin:40px;"> Admissions </h1>
</div>
<div class=" ui section divider"> </div>
<div class="ui raised segment">
    <div class="ui text container center aligned">
        <div class="ui animated list">
            <div class="item">
                <p class="center aligned ui green inverted button"> <a href="/receptionist/activeAppointments"> Active Appointments </a> </p>
            </div>
            <div class="ui horizontal divider"> OR </div>
            <div class="item">
                <p class="center aligned ui yellow inverted button"> <a href="/receptionist/oldAppointments"> Inactive Appointments </a> </p>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
