<% include ../partials/header %>
<div class="ui text container center aligned">
    <h1 class="ui massive very padded blue block header" style = "margin: 40px;">Counselors</h1>
    <% if (counselors.length !== 0) { %>
        <div class="ui section divider"></div> 
            <div class="ui container">
                <div class="ui piled raised segments">
                    <div class="ui animated list">
                        <% for(var i = 0; i < counselors.length; i++){ %>
                            <div class="ui class item raised green segment">
                                <p><span class = "ui small green header">Counselor ID:</span>
                                    <%=counselors[i].User.userID%>
                                </p>
                                <div class = "ui divider"></div>
                                <p>
                                    <span class = "ui small green header">Email:</span>
                                    <%= counselors[i].User.email %>
                                </p>
                                <div class = "ui divider"></div>
                                <p> <a href = "counselors/<%=counselors[i].User.userID%>"> <button class = "ui inverted large green button">View</button></a> </p>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        <% } %>

<% include ../partials/footer %>