<div style="width:120px;"class="ui left blue visible vertical inverted sidebar labeled icon menu">
  <a class="item" href = "/receptionist/newPatient">
    <i class="user plus icon"></i>
    New Patient
  </a>
  <a class="item" href="/receptionist/getPatients">
    <i class="eye icon"></i>
    View Patient
  </a>
  <a class="item" href = "/receptionist/users/new">
    <i class="id card icon"></i>
    New Invoice
  </a>
  <a class="item" href="/receptionist/users/newDoctor">
    <i class="plus icon"></i>
    New Doctor
  </a>
  <a class="item" href="/receptionist/doctors">
    <i class="eye icon"></i>
    View Doctors
  </a>
  <a class="item" href="/receptionist/doctorShares">
    <i class="percent icon"></i>
    Doctor Shares
  </a>
  <a class="item" href="/receptionist/dues">
    <i class="money bill alternate icon"></i>
    Doctor Dues
  </a>
  <a class="item" href="/receptionist/appointments/new">
    <i class="clock icon"></i>
    Create Appointment
  </a>
  <a class="item" href="/receptionist/getAppointments">
    <i class="calendar icon"></i>
    View Appointments
  </a>
</div>