<% include ../partials/header %>
    <div class="ui container center aligned">

        <h1 class="ui massive very padded blue block header" style="margin: 40px;"> Users </h1>
        <div class = "ui section divider"></div>
        <div class="ui raised green segment">
            <div class="ui  very padded relaxed divided list">
                
                    <div class = "ui large blue header" style = "font-size: 2.5em;"> VIEW: </div>
                
                
                <div class="item">
                    <p> <a href="users/patients"> <button class = "ui inverted  massive green button" style = "width: 8em;" > Patients </button> </a>                        </p>
                </div>
                <div class="item">
                        <p> <a href="users/doctors"> <button class = "ui inverted  massive green button" style = "width: 8em;"> Doctors </button> </a>                        </p>
                </div>
                 <div class="item">
                            <p> <a href="users/counselors"> <button class = "ui inverted  massive green button" style = "width: 8em;" >  Counselors </button> </a>                        </p>
                </div>
                <div class="item">
                        <p> <a href="users/pharmacists"> <button class = "ui inverted  massive green button" style = "width: 8em;">  Pharmacists </button> </a>                        </p>
                </div>
                
            </div>
        </div>
    </div>
    <% include ../partials/footer %>